# Find out all the K values with their accuracy
### Author : MD. Mehedi Hassan Galib
### Date : 06 August, 2020
<br/>
<br/>
<br/>

## Loading libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import seaborn as sns

<br/>
<br/>

## Loading dataset

In [2]:
df = pd.read_csv('C:/Users/Mehedi Hassan Galib/Desktop/Python/datas/iris.csv')

In [3]:
df.head()

   Id  sepal_length  sepal_width  petal_length  petal_width      species
0   1           5.1          3.5           1.4          0.2  Iris-setosa
1   2           4.9          3.0           1.4          0.2  Iris-setosa
2   3           4.7          3.2           1.3          0.2  Iris-setosa
3   4           4.6          3.1           1.5          0.2  Iris-setosa
4   5           5.0          3.6           1.4          0.2  Iris-setosa

<br/>
<br/>

## Splitting X and y variable

In [5]:
X = pd.DataFrame(df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']])
y = df['species']

<br/>
<br/>

## Splitting train and test

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2, random_state = 42)

In [31]:
train_length = len(X_train)
k_acc_score = []

In [32]:
for k in range(1, train_length, 2):
    cf = KNeighborsClassifier(n_neighbors = k, n_jobs = -1)
    model = cf.fit(X_train, y_train)
    y_pred = cf.predict(X_test)
    k_acc_score.append('k({}) = {}'.format(k, accuracy_score(y_test, y_pred)))
    
print(k_acc_score)

['k(1) = 1.0', 'k(3) = 1.0', 'k(5) = 1.0', 'k(7) = 0.9666666666666667', 'k(9) = 1.0', 'k(11) = 1.0', 'k(13) = 1.0', 'k(15) = 1.0', 'k(17) = 1.0', 'k(19) = 1.0', 'k(21) = 1.0', 'k(23) = 1.0', 'k(25) = 1.0', 'k(27) = 1.0', 'k(29) = 1.0', 'k(31) = 1.0', 'k(33) = 1.0', 'k(35) = 1.0', 'k(37) = 1.0', 'k(39) = 1.0', 'k(41) = 1.0', 'k(43) = 1.0', 'k(45) = 1.0', 'k(47) = 0.9666666666666667', 'k(49) = 0.9666666666666667', 'k(51) = 0.9666666666666667', 'k(53) = 0.9666666666666667', 'k(55) = 0.9666666666666667', 'k(57) = 0.9666666666666667', 'k(59) = 0.9666666666666667', 'k(61) = 0.9666666666666667', 'k(63) = 0.9666666666666667', 'k(65) = 0.9666666666666667', 'k(67) = 0.9666666666666667', 'k(69) = 0.9666666666666667', 'k(71) = 0.9666666666666667', 'k(73) = 0.9666666666666667', 'k(75) = 0.9333333333333333', 'k(77) = 0.9666666666666667', 'k(79) = 0.6333333333333333', 'k(81) = 0.6333333333333333', 'k(83) = 0.6333333333333333', 'k(85) = 0.6333333333333333', 'k(87) = 0.6333333333333333', 'k(89) = 0.5666666666666667', 'k(91) = 0.5333333333333333', 'k(93) = 0.3', 'k(95) = 0.3', 'k(97) = 0.3', 'k(99) = 0.3', 'k(101) = 0.3', 'k(103) = 0.3', 'k(105) = 0.3', 'k(107) = 0.3', 'k(109) = 0.3', 'k(111) = 0.3', 'k(113) = 0.3', 'k(115) = 0.3', 'k(117) = 0.3', 'k(119) = 0.3']