### Import libraries

In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
%matplotlib inline

### Loading dataset

In [6]:
df = pd.read_csv('C:/Users/Mehedi Hassan Galib/Desktop/Python/datas/purchased.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

### Split into X and y

In [7]:
X = df[['Age', 'EstimatedSalary']]
y = df['Purchased']

<br/>
<br/>

# How different random states (train-test set) affect the accuracy

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 5)
knn1 = KNeighborsClassifier(n_neighbors = 5)
model1 = knn1.fit(X_train, y_train)
y1_pred= knn1.predict(X_test)
metrics.accuracy_score(y_test, y1_pred)

0.77

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 3)
knn2 = KNeighborsClassifier(n_neighbors = 5)
model2 = knn2.fit(X_train, y_train)
y2_pred= knn2.predict(X_test)
metrics.accuracy_score(y_test, y2_pred)

0.81

<br/>
<br/>

# Cross Validation of KNN
#### cv = 10 - The train-test set will be suffled 10 times and show 10 accuracies
#### scoring = 'accuracy' - The answer will be directly shown in accuracy

In [11]:
knn3 = KNeighborsClassifier(n_neighbors = 5)
cross_val_score(knn3, X, y, cv = 10, scoring = 'accuracy')

array([0.7  , 0.925, 0.85 , 0.875, 0.775, 0.675, 0.75 , 0.8  , 0.725,
       0.775])

### Mean of 10 accuracies

In [13]:
knn3 = KNeighborsClassifier(n_neighbors = 5)
cross_val_score(knn3, X, y, cv = 10, scoring = 'accuracy').mean().round(4)

0.785

<br/>
<br/>

# Cross Validation of Logistic Regression

In [16]:
lr1 = LogisticRegression()
cross_val_score(lr1, X, y, cv = 10, scoring = 'accuracy').mean().round(4)

0.6425

<br/>
<br/>

# Cross Validation of Decision Tree

In [21]:
dt1 = DecisionTreeClassifier()
cross_val_score(dt1, X, y, cv = 10, scoring = 'accuracy').mean().round(4)

0.835