In [6]:
import pandas as pd
from datetime import date

### A string looks like a date

In [11]:
a = '10/10/2017'
type(a)

str

### Creating date with date function

In [12]:
b = date(2017, 10, 10)
type(b)

datetime.date

### List of dates

In [8]:
two_dates = [date(2017, 6, 6), date(2018, 7, 9)]

### Extracting year, month, day and weekday with python

In [14]:
two_dates[0].year

2017

In [15]:
two_dates[0].month

6

In [16]:
two_dates[1].day

9

In [52]:
two_dates[1].weekday()

0

### Weekday in python:

0 - Monday  
1 - Tuesday  
2 - Wedneday  
3 - Thursday  
4 - Friday  
5 - Saturday  
6 - Sunday

<br/>
<br4/>

## Math with dates

In [53]:
d1 = date(2017, 11, 5)
d2 = date(2017, 12, 4)
l = [d1, d2]
print(min(l))

2017-11-05

In [22]:
delta = d2 - d1
print(delta.days)

29

In [24]:
from datetime import timedelta
td = timedelta(days = 29)

print(d1+td)

2017-12-04

### Date - string (isoformat)

In [54]:
d3 = date(2018, 4, 5)
print(d3)

print(type(d3))

2018-04-05
<class 'datetime.date'>

In [55]:
print(d3.isoformat())
type(d3.isoformat())

2018-04-05

str

### Date - string (strftime)

In [33]:
d3.strftime('%Y')

'2018'

In [39]:
type(d3.strftime('%Y'))

str

In [38]:
print(d3.strftime('%Y/%m/%d'))

2018/04/05

<br/>
<br/>

## Time with dates

In [40]:
from datetime import datetime

### Creating date-time object

Year = 2017  
Month = 11  
Day = 5  
Hour = 15  
Minute = 23  
Second = 25  
MicroSecond = 0

In [41]:
dt = datetime(2017, 11, 5, 15, 23, 25)

In [49]:
print(dt)
print(type(dt))

2017-11-05 15:23:25
<class 'datetime.datetime'>

### Date time with MicroSecond

In [50]:
dt2 = datetime(2017, 11, 5, 15, 23, 25, 50000)

### Replacing

In [51]:
dt3 = dt2.replace(minute = 0, second = 0, microsecond = 0)
print(dt3)

2017-11-05 15:00:00

### date time to string (strftime)

In [61]:
dtdt = dt3.strftime('%Y-%m-%d %H:%M:%S')

print(dtdt)
print(type(dtdt))

2017-11-05 15:00:00
<class 'str'>

### date time to string (isoformat)

In [63]:
dtd = dt3.isoformat()

print(dtd)
print(type(dtd))

2017-11-05T15:00:00
<class 'str'>

### parsing date time from just a number (duration from 01-01-1970)

In [65]:
ts = 1514665153.0
print(datetime.fromtimestamp(ts))

2017-12-31 02:19:13

### working with duration

In [67]:
start = datetime(2017, 10, 8, 23, 46, 47)
end = datetime(2017, 10, 9, 0, 10, 57)
duration = end-start
duration

datetime.timedelta(seconds=1450)

In [68]:
duration.total_seconds()

1450.0