## Import libraries

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

<br/>

## Load the dataset and Reconnaissance

In [4]:
df = pd.read_csv('C:/Users/Mehedi Hassan Galib/Desktop/Python/datas/advertising_data.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.corr()

                  User ID       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.000721         0.071097   0.007120
Age             -0.000721  1.000000         0.155238   0.622454
EstimatedSalary  0.071097  0.155238         1.000000   0.362083
Purchased        0.007120  0.622454         0.362083   1.000000

In [6]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

<br/>

## Creating dataframe of X and y

In [25]:
X = pd.DataFrame(df[['Age','EstimatedSalary']])
y = df.Purchased

<br/>

## Splitting into train and test

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 5)

<br/>

## Feature Scaling

In [29]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

<br/>

## Model build up

In [38]:
cf = SVC(kernel = 'linear', random_state = 5)
cf.fit(X_train, y_train)

SVC(kernel='linear', random_state=5)

<br/>

## Prediction

In [39]:
y_pred = cf.predict(X_test)

<br/>

# Accuracy without GridSearchCV

In [41]:
accuracy_score(y_test,y_pred)

0.85

<br/>
<br/>

## Applying GridSearchCV

In [48]:
parameters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]},
             {'C': [1, 10, 100, 1000], 'kernel': ['sigmoid'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = cf,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)
grid_search = grid_search.fit(X_train, y_train)

<br/>

# Accuracy with GridSearchCV

In [49]:
accuracy = grid_search.best_score_
accuracy

0.9100000000000001

<br/>

## The best fitted parameters

In [50]:
grid_search.best_params_

{'C': 10, 'gamma': 0.3, 'kernel': 'rbf'}