## Import libraries

In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

## Getting the dataset

In [69]:
df = pd.read_csv('C:/Users/Mehedi Hassan Galib/Desktop/Python/datas/slump_test.csv')

In [70]:
df.rename(columns = {'Fly ash' : 'Fly_ash', 'Compressive Strength (28-day)(Mpa)' : 'com_strength',
                     'Coarse Aggr.' : 'Coarse_Aggr', 'Fine Aggr.' : 'Fine_Aggr'}, inplace = True)

In [71]:
df.head()

,No,Cement,Slag,Fly_ash,Water,SP,Coarse_Aggr,Fine_Aggr,SLUMP(cm),FLOW(cm),com_strength
0,1,273.0,82.0,105.0,210.0,9.0,904.0,680.0,23.0,62.0,34.99
1,2,163.0,149.0,191.0,180.0,12.0,843.0,746.0,0.0,20.0,41.14
2,3,162.0,148.0,191.0,179.0,16.0,840.0,743.0,1.0,20.0,41.81
3,4,162.0,148.0,190.0,179.0,19.0,838.0,741.0,3.0,21.5,42.08
4,5,154.0,112.0,144.0,220.0,10.0,923.0,658.0,20.0,64.0,26.82

In [72]:
X = pd.DataFrame(df[['Cement','Slag','Fly_ash','Water']])
y = pd.DataFrame(df[['com_strength']])

## Linear Regression Model

In [73]:
lm = LinearRegression()
model = lm.fit(X, y)

In [74]:
rr = lm.score(X, y)
rr

0.8633670217460776

<br/>

# Model VIF
### VIF < 4-5, it's good
### VIF > 5, model requires inspection
### VIF = 1, no multicollinearity

In [75]:
vif = 1/(1-rr)
vif

7.318877278233467

<br/>

# VIF by each variables

In [76]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    return(vif)

calc_vif(X)

  variables        VIF
0    Cement  13.551085
1      Slag   3.203146
2   Fly_ash   4.985673
3     Water  30.588987

<br/>

# Adjusting variables
### (Removing the variable with highest VIF)

In [81]:
X1 = pd.DataFrame(df[['Cement','Slag','Fly_ash']])
y1 = pd.DataFrame(df[['com_strength']])

In [82]:
lm1 = LinearRegression()
model1 = lm1.fit(X1, y1)

In [84]:
rr1 = lm1.score(X1, y1)
rr1

0.808454548148072

<br/>

## Model VIF

In [85]:
vif1 = 1/(1-rr1)
vif1

5.220693001747902

<br/>

# VIF by each variables

In [64]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    return(vif)

calc_vif(X)

  variables       VIF
0    Cement  2.933518
1      Slag  2.008323
2   Fly_ash  2.287793